*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
nav {
    background-color: beige;
    border-right: 1px solid #ddd;
    position: fixed; /* 네비바 고정*/
    width: 220px;
    height: 100%;
}
h1 {
    font-size: 26px; 
    padding: 20px;
}
#profileImage {
    display: block;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 180px;
    position: relative;
    margin: 30px auto;
    margin-bottom: 10px;
    border: 3px solid #FFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.menu li {
    list-style: none; /* 리스트 스타일 삭제 */
    height: 30px;
    line-height: 30px;
    padding:0 20px;
    font-size: 16px;
}
.menu li a {
    text-decoration: none;  /* 리스트 언더바 제거 */
    color: gray;
}
.menu li a:hover {
    text-decoration: underline; /* 리스트 마우스 오버 언더바 생성 */
    color: blue;
}
#linkIcon li, a{
    list-style: none; /* 리스트 스타일 삭제 */
    display: inline-block; 
    color: gray;
}
#linkIcon {
    font-size: 30px;
    position: fixed;
    bottom: 0%;
}
#linkIcon li a:hover{
    color : blue;
}
#emailIcon{
    left: 55px;
}
#blogIcon{
    left: 100px;
}
#instaIcon{
    left: 140px;
}
#githubIcon{
    left: 180px;
}

/*#navObject{
    display: inline-block;
    width: 240px;
    height: 100vh;
    background-color: black;
}*/
.section {
    position: relative;
    left : 260px;
}

#homeImage {
    width: 80vw;
    height: 99vh;
    object-fit: cover;
}
.homeText {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 40px;
    color: white;
}